$color-background-page: #121c1e;
$color-text: #ffffff;
$color-link: #278d9f;
$background-color-item: rgba(9, 38, 43, 0.5);

$middle-width: 1623px;
$screen-width: 1400px;
$screen-min: 1300px;
$big-tablet-width: 1000px;