<div class="wrapper header__wrapper">
  <nav class="nav">
    <a class="nav__link logo" href="https://rolling-scopes-school.github.io/kate0305-JSFE2021Q3/christmas-task-part2/"></a>
    <a class="nav__link" href="https://rolling-scopes-school.github.io/kate0305-JSFE2021Q3/christmas-task-part2/#/toys">Игрушки</a>
    <a class="nav__link" href="https://rolling-scopes-school.github.io/kate0305-JSFE2021Q3/christmas-task-part2/#/tree">Ёлка</a>
  </nav>
  <div class="container">
    <input class="search" type="search" name="" id="" autocomplete="off" placeholder="введите название игрушки" autofocus>
    <div class="number-select">
      <span class="number-select__inner">0</span>
    </div>
  </div>
</div>