.footer__wrapper {
	padding-top: 20px;
	@include flex;
}

.footer__link {
  color: $color-text;
  cursor: pointer;
}

.rss {
  display: block;
  width: 80px;
  height: 30px;
  background-image: url("../assets/svg/rss.svg");
  background-repeat: no-repeat;
  background-size: cover;
}