.header__wrapper {
  @include flex;
}

.nav {
  @include flex;
  width: 450px;
  @include big-tablet {
    width: 300px;
  }
}

.nav__link {
  display: block;
  padding: 20px;
  text-transform: uppercase;
  color: $color-text;
  transition: color 0.3s ease;
  &:hover {
    color: $color-link;
  }
  &:nth-child(3) {
    margin-right: 0;
  }
}

.logo {
  width: 48px;
  height: 57px;
  background-image: url('../assets/svg/tree.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  &:hover {
    filter: invert(52%) sepia(7%) saturate(4718%) hue-rotate(141deg) brightness(88%) contrast(77%);
    transition: filter 0.3s ease;
  }
}

.container {
  @include flex;
  width: 450px;
  @include big-tablet {
    width: 300px;
  }
}

.search {
  width: 350px;
  height: 40px;
  padding: 5px 40px 5px 20px;
  font-size: 18px;
  outline: 0;
  border-radius: 20px;
  border: 1px solid $color-link;
  color: $color-text;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url("../assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  transition: all 0.3s ease;
  &:focus {
    background-image: url("../assets/close.png");
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      position: relative;
      right: -22px;
      height: 16px;
      width: 16px;
      background-size: cover;
      cursor: pointer;
    }
  }
  
  @include big-tablet {
    width: 200px;
  }
}

.number-select {
  width: 48px;
  height: 60px;
  background-image: url("../assets/svg/ball-2.svg");
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
}

.number-select__inner {
  display: block; 
  margin-top: 10px;
  margin-left: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2.2;
  border-radius: 50%;
  background-color: $color-link;
}